.visual-model {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: top;
    color: white;
    height: 100vh;
    width: 80vw;
}

.canvas {
    background-color: var(--background-secondary);
    border-radius: 5px;
    min-height: 35%;
    min-width: 35%;
    max-height: 100%;
    max-width: 100%;
    height: 70%;
    width: 100%;
    resize: both;
    overflow: auto;
    border-color: black;
}

.settings {
    align-items: top;
}