/* Přejít na tailwind - pro zakomponování material UI komponent https://www.youtube.com/watch?v=QQIfuMlA6TI
pro definování primary class https://tailwindcss.com/docs/reusing-styles
instalace: https://www.youtube.com/watch?v=YL5deOIXbPc*/

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}